*{
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../public/img/global-citizens-bw_warm.jpg); 
    background-repeat: no-repeat;
    align-items: center;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

a:-webkit-any-link {
    color: #103e3f;
    text-decoration: none;
  }